<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


	<http auto-config="true" access-denied-page="403.jsp">
		
		<intercept-url pattern="/images/**" filters="none" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/ssq/**" access="ROLE_ADMIN,ROLE_EDITOR" />
		<intercept-url pattern="/browser/**" access="ROLE_ADMIN,ROLE_EDITOR,ROLE_USER" />
		<!-- <intercept-url pattern="/**" access="ROLE_ADMIN,ROLE_EDITOR,ROLE_USER" /> -->

		<intercept-url pattern="/admin/login" filters="none" />
		
		<form-login login-page="/admin/login"
			authentication-failure-url="/admin/login?error=true"
			default-target-url="/admin" />

		<logout logout-success-url="/admin/login" />
		<http-basic />
		<session-management>
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="false"/>
		</session-management>
		
		<!-- 增加一个filter，这点与acrgi是不一样的，不能修改默认的filter了 -->
		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="myFilter"/>
		
	</http>
	<!-- 自定义的filter， 必须包含authenticationManager,accessDecisionManager,securityMetadataSource三个属性
	我们的所有控制将在这三个类中实现 -->
	<beans:bean id="myFilter" class="com.sniper.survey.spring.security.MyFilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="authenticationManager"></beans:property>
		<beans:property name="accessDecisionManager" ref="myAccessDecisionManagerBean"></beans:property>
		<beans:property name="securityMetadataSource" ref="securityMetadataSource"></beans:property>
		
	</beans:bean>
	
	<!-- 认真管理器，实现用户认证的入口，主要实现USerDetailsService 接口即可-->
	<authentication-manager alias="authenticationManage">
		<authentication-provider user-service-ref="myUserDetailService">
			<!-- 如果用户的密码采用加密的话可以 -->
			<!-- <password-encoder hash="md5"></password-encoder> -->
			<!-- <user-service>
				<user name="user" password="123" authorities="ROLE_USER"/>
			</user-service> -->
		</authentication-provider>
	</authentication-manager>
	<!-- 读取用户的密码，角色信息，是否锁定，账号是否过期  -->
	<beans:bean id="myUserDetailService" class="com.sniper.survey.spring.security.myUserDetailService"/>
	<!-- 访问决策其，决定那个用户具有的角色，是否足够权限访问  -->
	<beans:bean id="myAccessDecisionManagerBean" class=""></beans:bean>
	<!-- 资源数据定义，将所有的资源和权限对应关系建立起来，及定义木易资源可以被大写橘色访问 -->
	<beans:bean id="securityMetadataSource" class="com.sniper.survey.spring.security.MyInvocationSecurityMetadataSource"/>
	
	

</beans:beans>

