@CHARSET "UTF-8";

.container-fluid:before,.container-fluid:after {
	content: "";
	display: table;
}

.container-fluid:after {
	clear: both;
}

.container-fluid:before,.container-fluid:after {
	content: "";
	display: table;
}

.container-fluid {
	padding: 20px;
}

.body-main:before,.body-main:after {
	content: "";
	display: table;
}

.body-main:after {
	clear: both;
}

.body-main:before,.body-main:after {
	content: "";
	display: table;
}
/* center body */
.body-main {
	
}
/* right body  */
#content {
	width: 82.9787%;
}

.body-main .span10 {
	width: 82.9787% !important;
}

.body-main [class*="span"] {
	-moz-box-sizing: border-box;
	display: block;
	float: left;
	margin-left: 2.12766%;
	min-height: 28px;
	width: 100%;
}


[class*="span"] {
	float: left;
	margin-left: 20px;
}

/* 列表 */
.list_content:before {
	color: #999999 !important;
	content: "example";
	font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial,
		Helvetica, sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	left: -21px;
	letter-spacing: 0.02em;
	line-height: 1.4rem;
	margin: 5px 10px;
	position: absolute;
	top: 30px;
	transform: rotate(-90deg);
}

.list_content:before,.list_content:after {
	content: "";
	display: table;
}

.list_content:after {
	clear: both;
}

.list_content {
	background-color: #FDFDFD !important;
	border: 1px solid #CCCCCC;
	margin: 0 0 10px;
	min-height: 100px;
	padding: 20px 40px 20px 60px;
	position: relative;
}

